{contentType application/rss+xml; charset=utf-8}
<<?php ?>?xml version="1.0"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{foreach $urlsToSitemap as $url}
		<url>
				<loc>{$url['loc']}</loc>
				<lastmod n:ifset="$url['lastmod']">{$url['lastmod']}</lastmod>
				<changefreq n:ifset="$url['changefreq']">{$url['changefreq']}</changefreq>
				<priority n:ifset="$url['priority']">{$url['priority']}</priority>
		</url>
	{/foreach}
</urlset>