{contentType application/rss+xml; charset=utf-8}
<<?php ?>?xml version="1.0"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<sitemap>
		{foreach $sitemapForSitemapIndex as $sitemap}
			<loc>{$sitemap['loc']}</loc>
			<lastmod>{$sitemap['lastmod']}</lastmod>
		{/foreach}
    </sitemap>
</sitemapindex>